<!DOCTYPE html>
<html>
	<head>
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'sha256-vrQ38bkUuVjnRMqPHTORk8HSDqJAzg+OypIyR8Ofnjs='; style-src 'unsafe-inline'"
    /> -->
		__PETRICHOR__TITLE__TAG__
		<meta charset="utf-8">
    <style>
      #player {
        display: block; position: fixed; top: 0px; left: 0px;
      }
      body {
        background-color: black;
      }
    </style>
	</head>
	<body>
		__PETRICHOR__SVG_STRING__TAG__
			__PETRICHOR__PLAYER__TAG__
      <script src="pixi.js"></script>
			<script src="player.js"></script>
			<script>
        /*
        * Where to get custom images from?
        */
        window.BASE_IMAGE_URL = "custom_images/"
        /*
        * Use username from OS as user nickname
        */
        window.ACCOUNT = {
          user: {
            nickname: "Electron"
          }
        }
        async function setUsername() {
          window.ACCOUNT.user.nickname = await window.ipc.osUsername()
        }
        setUsername()
        window.addEventListener("load", () => {
          main.resizeRoot(window.outerWidth, window.outerHeight)
          main.play()
          window.addEventListener("resize", () => {
            main.resizeRoot(window.outerWidth, window.outerHeight)
          })
          // TODO: Only events
          window.setInterval( () => {
            main.resizeRoot(window.outerWidth, window.outerHeight)
          }, 100)
        })
			</script>
	</body>
</html>